/****************************************************
	�뚯씪紐�	: main.css
	理쒖큹�묒꽦��	: �대���
	理쒖큹�묒꽦��	: 2024-09-28
	-------------------------------------------------
	Dec. 硫붿씤 �섏씠吏� �ㅽ��쇰쭅 �뺤쓽
	-------------------------------------------------
	理쒖쥌�섏젙��	: �대���
	理쒖쥌�섏젙��	: 2024-09-28
	�섏젙�댁슜	: 理쒖큹�묒꽦
	�띿꽦�쒖꽌: �덉씠�꾩썐 > �ш린/媛꾧꺽 > 諛뺤뒪紐⑥뼇 > �고듃/�뺣젹 > 湲고�
*****************************************************/

/* body container */
.main .container {padding-top: 0; padding-bottom: 0;}
.main .paging{margin-bottom:60px;margin-top:0} 

.main-info-content { display: flex; flex-wrap: wrap;justify-content: space-between; padding: 22px 0; gap: 22px;}
.main-info-content::before { content: ""; position: absolute; left: -9999px; right: -9999px; top: 0; bottom: 0; background: #27C2CB; }
.main-info-content .link-area { display: flex; flex-direction: column; position: relative; flex: 1;}
.main-info-content .link-area .link-box { display: flex; justify-content: space-between; gap: 22px;}
.main-info-content .link-area .link-box .link { display: flex; position: relative; flex: 1; height: 280px; border-radius: 17px; padding: 0 20px; }
/* 湲곌� �뺣낫 �섏젙 踰꾪듉 */
.main-info-content .link-area .link-box .login-btn { padding-top: 44px; padding-bottom: 31px; background: #fff; flex-direction: column; text-align: center; justify-content: center;}
.main-info-content .link-area .link-box .login-btn .txt { 
	display: flex; justify-content: center; align-items: center; 
	position: relative; margin-top: auto;  width: 100%; height: 50px;
	background: #383838; font-size: 24px; font-weight: 500; color: #ffffff; border-radius: 16px; 
	cursor: pointer;
}
/* 湲곌� �뺣낫 */
.agency-info {font-size: 32px; font-weight: 700;}
.agency-info.user-name {margin-top: 10px; font-size: 28px; font-weight: 700;}

/* 吏��먯껜 硫붿씤 LMP_001 */
.main-cont{display:flex;justify-content:space-between;position:relative;padding:22px 0}
.main-cont::before{content:'';display:block;position:absolute;left:0;top:0;height:100%;width:100vw;margin-left:calc(-50vw + 50%);background:var(--pri);z-index:-1}
.main-info-left{width:calc(100% - 308px - 22px);display:flex;flex-direction:column;gap:22px}
.main-info-right{
	width: 308px;
}
/* ���댄� 洹몃９ */
.main-tit-group{display:flex;justify-content:space-between;align-items:center}
.main-tit-group > h2{font-size:40px;font-weight:700;}
.main-info-wrap{display:flex;justify-content:space-between}
.main-info-mo-wrap{flex:1;display:flex;margin-left:22px}
.main-info-mo-wrap > .main-info-link{transition:transform 0.5s}
.main-info-mo-wrap > .main-info-link + .main-info-link{margin-left:22px}
.main-info-link{border-radius:15px;width:302px;height:280px;text-align:center}
.main-info-link:not(.personal){padding:40px 0 20px;}
.main-info-link .ico::before{align-self:center}
.main-info-link > a{display:block}
.main-info-link:not(.personal) > a{width:100%;height:100%;display:flex;flex-direction:column}
.main-info-link:not(.personal) > a .ico::before{width:120px;height:120px}
/* 媛쒖씤�뺣낫 */
.main-info-link.personal{padding:40px 20px 20px 20px;}
.main-info-link.personal{background:var(--white); display:flex; flex-direction:column}
.main-info-link.personal > a{margin-top:auto; display:flex; justify-content:center; align-items:center; border-radius:16px; background:#383838; color:#fff; font-weight:700; font-size:24px; height:57px}
.main-info-link.personal .ico.before-login::before{width:140px; height:140px; background:url(https://www.lllcard.kr/images/biz2/ico/ico_before_login.svg) no-repeat center;background-size:cover}
.main-info-link.personal .ico.after-login::before{width:120px; height:120px; background:url(https://www.lllcard.kr/images/biz2/ico/ico_after_login.svg) no-repeat center;background-size:cover}
.main-info-link.personal .main-info-user{font-size:18px; font-weight:700; margin-top:8px}
.main-info-link.apply-ticket{background:#3B98EF}
.main-info-link.apply-ticket .ico::before{background:url(https://www.lllcard.kr/images/biz2/ico/ico_apply_ticket.svg) no-repeat center;background-size:cover}
.main-info-link.use-where{background:#1D2088}
.main-info-link.use-where .ico::before{background:url(https://www.lllcard.kr/images/biz2/ico/ico_use_where.svg) no-repeat center;background-size:cover}
.main-info-group{margin-top:auto}
.main-info-tit{font-weight:700; font-size:38px; color:var(--white); line-height: 57px; }
.main-info-mo-desc{color:#fff;font-weight:700;margin-top:8px;font-size:16px}
.more-link-area{display:flex;flex-direction:column;gap:22px; height: 100%;}
.more-link-area > a {
	transition:transform 0.5s; 
	flex: 1;
	background:var(--white);
	display:flex;
	justify-content:space-between;align-items:center;border-radius:15px;font-size:28px;font-weight:700;padding:0 30px 0 20px;}
/* 怨듭��ы빆 */
.main-notice{border-radius:15px;flex:1;padding:20px;background:var(--white)}
.main-notice .main-tit-group{max-height:48px}
.main-notice-detail{margin-top:20px}
.main-notice-detail .new-badge{font-size:12px;display:inline-block;padding:0 10px;background:#73D75A;color:var(--white);line-height:21px;border-radius:10px;text-transform:uppercase}
.main-notice-detail .category-badge {font-size: 12px; display: inline-block; padding: 0 10px; border: 1px solid #73D75A; color: #73D75A; line-height: 21px; border-radius: 10px;}
.main-notice-detail ul > li > a{padding:15px 20px 23px 20px; display:block; border:1px solid var(--bd-color); border-radius:15px; font-size: 0; background-color: var(--white);}
.main-notice-detail .main-notice-tit{
	font-size: 20px; 
	margin: 5px 0 25px 0; 
	overflow: hidden; 
	text-overflow:ellipsis; 
	display:-webkit-box; 
	-webkit-line-clamp:2; 
	-webkit-box-orient:vertical; 
	min-height:54px;
	line-height:27px
}

/* �띿뒪�멸� �쒖쨪�� 寃쎌슦 minheight init */
.portalNat .main-notice-detail .main-notice-tit:nth-of-type(1):not(:nth-of-type(2)) { 
    min-height: fit-content; 
}

.main-notice .main-notice-detail .swiper-indicator{display:none}
.main-notice-detail .main-notice-date{font-weight:500; font-size: 18px; line-height:27px}
.main-notice-detail .swiper-indicator{position:absolute;bottom:16px;right:16px;display:inline-flex;align-items:center;justify-content:flex-end;gap:2px}
.main-notice-detail .swiper-button-next.swiper-button-disabled, .main-notice-detail .swiper-button-prev.swiper-button-disabled{opacity:0.4}

/* �ㅼ��댄띁 踰꾪듉 */
.swiper-indicator .swiper-button-next, .swiper-indicator .swiper-button-prev{position:relative;top:auto;left:auto;right:auto;margin:auto;width:36px;height:36px}
.swiper-indicator .swiper-button-prev{background:url(https://www.lllcard.kr/images/biz2/ico/ico_swiper_btn.svg) no-repeat center;background-size:contain} 
.swiper-indicator .swiper-button-next{background:url(https://www.lllcard.kr/images/biz2/ico/ico_swiper_btn.svg) no-repeat center;background-size:contain;transform:rotate(180deg)} 
[class^=swiper-button-]{display:flex;align-items:center;justify-content:center}
[class^=swiper-button-]::after{content:'';font-size:0!important;width:36px;height:36px} 

/* 移대뱶留곹겕 */
.more-link-area .more-link-ticket .ico::before{width:59px;height:59px;background:url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_4.png) no-repeat center;background-size:cover}
.more-link-area .more-link-login .ico::before{width:54px;height:54px;background:url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_5.png) no-repeat center;background-size:cover}
.more-link-area .more-link-qna .ico::before{width:61px;height:60px;background:url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_6.png) no-repeat center;background-size:cover}
.more-link-area .more-link-archive .ico::before{width:62px;height:52px;background:url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_7.png) no-repeat center;background-size:cover}

/* �곷떞�쇳꽣�덈궡 */
.main-counseling{padding:60px 0}
.main-counseling .main-tit-group{padding:3px 0}
.main-counseling-ico{margin-left:auto;display:flex;gap:10px}
.main-counseling-ico > a.ico.call-link::before{display:none;width:40px;height:40px;background-color:var(--pri);background-image :url(https://www.lllcard.kr/images/biz2/ico/ico_call.svg);background-repeat:no-repeat;background-size:18px 18px;background-position:center center;border-radius:50%}
.main-counseling-ico > a.ico.counceling-link::before{width:70px;height:70px;background-color:#218CEF;background-image :url(https://www.lllcard.kr/images/biz2/ico/ico_home_white.svg);background-repeat:no-repeat;background-size:24px 24px;background-position:center center;border-radius:50%}
.main-counseling-detail > h5{font-weight:700;font-size:26px;;white-space:nowrap}
.main-counseling-detail .main-counseling-num{font-weight:700;color:#1D2089;font-size:26px;margin-top:16px;} 
.main-counseling-content{margin-top:26px}
.main-counseling-wrap{display:flex;gap:24px;flex-wrap:wrap}
.main-counseling-card{flex:1 0 calc(50% - 24px);display:flex;align-items:center;max-width: calc(50% - 12px);border:1px solid var(--bd-color);border-radius:20px;padding:30px 28px 30px 28px}
.main-counseling-card > .card-wrap{display:flex;gap:15px;align-items:center;max-height:78px}
.main-counseling-card .main-counseling-label{color:#fff;border-radius:5px;display:inline-flex;align-items:center;justify-content:center;font-weight:700;font-size:20px;background:#67B0FF;height:78px;padding:0 18px}

/* �곷떞�쇳꽣�덈궡 寃��� */
.main-search-box{
	display:flex;
	width:628px; max-width:628px;
	padding:20px;gap:20px;border-radius:15px;background:var(--pri);
}
.main-search-box > select ~ .custom-select,
.main-search-box > select {
	width:150px; height:50px;
	line-height: 50px;
	color:var(--text-primary-00);font-weight:700;font-size:20px;border-radius:10px;
	background:#fff url('https://www.lllcard.kr/images/biz2/ico/ico_arrow_down.svg') 
	no-repeat right 16px center}
.main-search-box > select ~ .custom-select .current {line-height: 50px;}
.main-search-box > input{flex:1;border-radius:10px;height:50px;font-size:18px;font-weight:500; width: calc(100% - 50px - 114px);}
.main-search-box button{color:#fff;font-weight:700;font-size:24px;display:inline-flex;align-items:center;justify-content:center;height:50px;width:100px;border-radius:10px;background:#383838}

/* 怨좎젙 諛곕꼫 */
.fixed-quick{padding:10px 10px 20px 10px;border-radius:18px;border:1px solid var(--bd-color);position:absolute;top:20px;right:-100px;width:100px;background:var(--white)}
.fixed-quick > ul{display:flex;flex-direction:column;gap:24px;align-items:center;text-align:center}
.fixed-quick li > a::before{content:'';display:inline-block;width:80px;height:80px;border:1px solid var(--bd-color);border-radius:16px}
.fixed-quick li > a{display:flex;flex-direction:column;gap :4px;line-height:27px;font-size:16px;font-weight:700;align-items:center;}
.fixed-quick li.issue-info > a::before{background:url(https://www.lllcard.kr/images/biz2/ico/ico_fixed_1.png) no-repeat center center}
.fixed-quick li.nle-agency > a::before{background:url(https://www.lllcard.kr/images/biz2/ico/ico_fixed_2.png) no-repeat center center}
.fixed-quick li.portal > a::before{background: url(https://www.lllcard.kr/images/biz2/ico/ico_fixed_portal.png) no-repeat center center;}

/* �ъ슜湲곌� */
.main-info-content .link-area .link-box .tikcet-btn { padding-top: 44px; background: #218CEF; transition: transform 0.5s; }
.main-info-content .link-area .link-box .tikcet-btn:hover { transform: translateY(-15px); }
.main-info-content .link-area .link-box .tikcet-btn .txt { display: block; width: 100%; margin-top: 155px; font-size: 38px; font-weight: bold; line-height: 45px; color: #fff; }
.main-info-content .link-area .link-box .tikcet-btn .txt::before { content: ""; position: absolute; left: 50%; top: 44px; transform: translateX(-50%); width: 120px; height: 120px; background: url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_2.png) no-repeat 0 0; }
.main-info-content .link-area .link-box .use-btn { padding-top: 44px; background: #5053D9; transition: transform 0.5s; }
.main-info-content .link-area .link-box .use-btn:hover { transform: translateY(-15px);}
.main-info-content .link-area .link-box .use-btn .txt { display: block; width: 100%; margin-top: 155px; font-size: 38px; font-weight: bold; line-height: 45px; color: #fff; }
.main-info-content .link-area .link-box .use-btn .txt::before { content: ""; position: absolute; left: 50%; top: 44px; transform: translateX(-50%); width: 120px; height: 120px; background: url(../../../images/biz2/ico/ico_main_link_2.png) no-repeat 0 0; }
.main-info-content .link-area .link-box .edu-btn { padding-top: 44px; background: #1D2088; transition: transform 0.5s; }
.main-info-content .link-area .link-box .edu-btn:hover { transform: translateY(-15px);}
.main-info-content .link-area .link-box .edu-btn .txt { display: block; width: 100%; margin-top: 155px; font-size: 38px; font-weight: bold; line-height: 45px; color: #fff; }
.main-info-content .link-area .link-box .edu-btn .txt::before { content: ""; position: absolute; left: 50%; top: 44px; transform: translateX(-50%); width: 120px; height: 120px; background: url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_3.png) no-repeat 0 0; }
.main-info-content .link-area .notice-box { position: relative; margin-top: 22px; padding: 20px; background: #fff; border-radius: 17px; }
.main-info-content .link-area .notice-box > .title { display: block; padding-left: 10px; font-size: 40px; font-weight: bold; line-height: 50px; color: #333; }
.main-info-content .link-area .notice-box .banner-group { margin-top: 20px; }
.main-info-content .link-area .notice-box .banner-group .swiper-wrapper { display: flex; column-gap: 20px; }
.main-info-content .link-area .notice-box .banner-group .swiper-wrapper .swiper-slide { width: auto; }
.main-info-content .link-area .notice-box .banner-group .swiper-slide a { display: block; width: 290px; height: 170px; border: 2px solid #c5c5c5; border-radius: 17px; padding: 15px 20px 0; font-size: 0;}
.main-info-content .link-area .notice-box .banner-group .swiper-slide a .ic { display: inline-flex; height: 21px; margin-bottom: 5px; padding: 0 10px; border-radius: 11px; background: #73D75A; font-size: 12px; font-weight: 500; line-height: 21px; color: #fff; }
.main-info-content .link-area .notice-box .banner-group .swiper-slide a .txt { display: block; height: 54px; margin-top: 5px; font-size: 20px; line-height: 27px;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.main-info-content .link-area .notice-box .banner-group .swiper-slide a .day { display: block; margin-top: 25px; font-size: 18px; font-weight: bold; }
.main-info-content .link-area .more-btn { position: absolute; right: 23px; top: 38px; width: 18px; height: 18px; background: url(https://www.lllcard.kr/images/biz2/ico/ico_list_plus.png) no-repeat 0 0; }
.main-info-content .more-link-area { display: flex; flex-direction: column; justify-content: space-between; position: relative; width: 308px; gap: 22px; height: auto;}
.main-info-content .more-link-area a { display: flex; position: relative; width: 100%; flex: 1; padding-left: 20px; align-items: center; background: #fff; border-radius: 17px; font-size: 28px; line-height: 34px; font-weight: bold;  letter-spacing: -2px; transition: transform 0.4s; }
.main-info-content .more-link-area a:hover { transform: translateY(-15px); }
.main-info-content .more-link-area a::before { content: ""; position: absolute; right: 30px; top: 50%; transform: translateY(-50%); background-size: contain; }
.main-info-content .more-link-area a:nth-child(1)::before { width: 59px; height: 59px; background: url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_4.png) no-repeat center; }
.main-info-content .more-link-area a:nth-child(3)::before { width: 61px; height: 60px; background: url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_6.png) no-repeat center; }
.main-info-content .more-link-area a:nth-child(2)::before { width: 62px; height: 52px; background: url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_7.png) no-repeat center; }
.main-info-content .more-link-area a:nth-child(4)::before { width: 62px; height: 52px; background: url(https://www.lllcard.kr/images/biz2/ico/ico_main_link_7.png) no-repeat center; }

.main_member{position: relative;width: 100%;background-color: #fff;border-radius: 17px;padding:33px 30px;display: flex;align-items: center;font-weight: 500;color:#000;font-size:38px;}
.main_member svg{margin-right:12px;}
.main_member strong{font-weight: 700;color: #00ADB2;}

@media (max-width: 1380px) {
	.main_member{font-size:30px;}
	.main_member svg{width:45px;height:45px;}
	.main-info-content .link-area .link-box .link{height: 220px;}
	.main-info-content .link-area .link-box .link .txt::before{width:80px;height: 80px;background-size: contain;}
	.main-info-content .link-area .link-box .link .txt{font-size:30px;margin-top:100px;}
	.main-info-content .link-area .notice-box .banner-group .swiper-wrapper .swiper-slide{flex:1 1 ;}
	.main-info-content .link-area .notice-box .banner-group .swiper-wrapper .swiper-slide a{width: 100%;}
	.main-info-content .link-area .notice-box > .title{font-size:27px;}
	.main-info-content .more-link-area{flex-direction: row;width: 100%;}
	.main-info-content .more-link-area a{padding:30px 20px;font-size:23px;}

}
@media (max-width: 820px) {
.main-info-content{padding:0;}
.main_member{font-size:22px;padding:20px;border-radius:12px;}
.main_member svg{width:35px;height:35px;}
.main-info-content .link-area .link-box{gap:10px;flex-direction: column;}
.main-info-content .link-area .link-box .link{height: auto;padding:15px 20px;border-radius:12px;text-align: left;}
.main-info-content .link-area .link-box .link .txt::before{width:35px;height: 35px;top:50%;left:auto;right:20px;transform: translate(0,-50%);}
.main-info-content .link-area .link-box .link .txt{font-size:20px;margin-top:0;}
.main-info-content .link-area .notice-box{border-radius:12px;}
.main-info-content .link-area .notice-box .banner-group{margin-top:10px;}
.main-info-content .link-area .notice-box .banner-group .swiper-wrapper{flex-direction: column;gap:10px;}
.main-info-content .link-area .notice-box .banner-group .swiper-wrapper .swiper-slide{flex:none;height: auto;}
.main-info-content .link-area .notice-box .banner-group .swiper-wrapper .swiper-slide a{width: 100%;}
.main-info-content .link-area .notice-box .banner-group .swiper-slide a{padding:10px;height:auto;border-radius:10px;border-width: 1px;}
.main-info-content .link-area .notice-box .banner-group .swiper-slide a .txt{height: auto;margin:0;font-size:15px;}
.main-info-content .link-area .notice-box .banner-group .swiper-slide a .day{font-size:14px;margin-top:5px;}
.main-info-content .link-area .notice-box > .title{font-size:22px;padding:0;line-height: 30px;}
.main-info-content .link-area .more-btn{top:25px}
.main-info-content .more-link-area{flex-direction: column;gap:10px;}
.main-info-content .more-link-area a{padding:15px 20px;font-size:18px;border-radius:12px;}
.main-info-content .more-link-area a br{display: none;}
.main-info-content .more-link-area a::before{width:34px !important;height:34px !important;background-size: contain !important;right:20px !important;}
}
